https://ihateregex.io/cheatsheet

In [2]:
import pandas as pd
import re

In [48]:

rawdata = {'data': ['2018-01-01 35 20736.87      Paul',
                    '2017-06-15 67 10567.70      Harry',
                    '2015-07-23 01 3873.90      Noel',
                    '2011-05-12 56 82320.65      John',
                    '2010-03-26 21 28737.01      Sally',
                    '2016-08-19 82 80327.63      Mary',
                    '2018-08-12 90 30467.92     Steve']}
dataf = pd.DataFrame(rawdata, columns = ['data'])
dataf

                                data
0   2018-01-01 35 20736.87      Paul
1  2017-06-15 67 10567.70      Harry
2    2015-07-23 01 3873.90      Noel
3   2011-05-12 56 82320.65      John
4  2010-03-26 21 28737.01      Sally
5   2016-08-19 82 80327.63      Mary
6   2018-08-12 90 30467.92     Steve

**Some of the approaches that can be used to separate the data into individual columns**:
1. Splitting the row by the spaces- with the assumption that the items in the row are separated by spaces
2. Identify alphabetical charcaters in the row-To separate the name

**Splitting the row by spaces**

In [49]:
#separate by the spaces using split
import re

In [61]:
def space_separator(row,row_num):
    """
    row = is the rows in the dataframe df
    row_num = is the index of the row
    """
    #clearing  lists
    items = []
    sorted_items = []
    
    #splitting the  row
    items = re.split(' ',row)

    #removing extra spaces and storing in sorted items list
    sorted_items = [item for item in items if item != '']
    
    #setting the list items into columns in the data frame
    dataf.loc[row_num,'Date'] = sorted_items[0]
    dataf.loc[row_num,'Depo'] = sorted_items[1]
    dataf.loc[row_num,'Salary'] = sorted_items[2]
    dataf.loc[row_num,'Name'] = sorted_items[3]
    
    #printing out the sorted row
    print(sorted_items)

In [62]:
#iterating through the rows in the dataframe
for row_num in range(len(dataf['data'])):
    space_separator(dataf['data'][row_num], row_num)

['2018-01-01', '35', '20736.87', 'Paul']
['2017-06-15', '67', '10567.70', 'Harry']
['2015-07-23', '01', '3873.90', 'Noel']
['2011-05-12', '56', '82320.65', 'John']
['2010-03-26', '21', '28737.01', 'Sally']
['2016-08-19', '82', '80327.63', 'Mary']
['2018-08-12', '90', '30467.92', 'Steve']

In [63]:
dataf

                                data        Date Depo    Salary   Name
0   2018-01-01 35 20736.87      Paul  2018-01-01   35  20736.87   Paul
1  2017-06-15 67 10567.70      Harry  2017-06-15   67  10567.70  Harry
2    2015-07-23 01 3873.90      Noel  2015-07-23   01   3873.90   Noel
3   2011-05-12 56 82320.65      John  2011-05-12   56  82320.65   John
4  2010-03-26 21 28737.01      Sally  2010-03-26   21  28737.01  Sally
5   2016-08-19 82 80327.63      Mary  2016-08-19   82  80327.63   Mary
6   2018-08-12 90 30467.92     Steve  2018-08-12   90  30467.92  Steve

In [11]:
string = dataf.iloc[0,0]
string

'2018-01-01 35 20736.87      Paul'

In [12]:
string.str.extract('(([A-Z]))',expand = True)

AttributeError: 'str' object has no attribute 'str'

In [13]:
#dataf['Emp_name']=dataf['data'].str.extract('(([A-Z]))',expand = True)
#dataf['Emp_name']

In [4]:
dataf['Salary'] = dataf['data'].str.extract('(\d\d\d\d\d.\d\d)', expand = True)
dataf['Salary']

0    20736.87
1    10567.70
2         NaN
3    82320.65
4    28737.01
5    80327.63
6    30467.92
Name: Salary, dtype: object

In [5]:
dataf['DOJ'] = dataf['data'].str.extract('(....-..-..)', expand = True)
dataf['DOJ']

0    2018-01-01
1    2017-06-15
2    2015-07-23
3    2011-05-12
4    2010-03-26
5    2016-08-19
6    2018-08-12
Name: DOJ, dtype: object

In [6]:
dataf['DOJo'] = dataf['data'].str.extract(('a-z0-9'), expand = True)
dataf['DOJo']

ValueError: pattern contains no capture groups

In [7]:
(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[13-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})

SyntaxError: invalid syntax (<ipython-input-7-61907fa81bf1>, line 1)

In [8]:
dataf['depo'] = dataf['data'].str.extract('(\d\d)', expand = True)
dataf['depo']

0    20
1    20
2    20
3    20
4    20
5    20
6    20
Name: depo, dtype: object

In [9]:
dataf.head()

                                data    Salary         DOJ depo
0   2018-01-01 35 20736.87      Paul  20736.87  2018-01-01   20
1  2017-06-15 67 10567.70      Harry  10567.70  2017-06-15   20
2    2015-07-23 01 3873.90      Noel       NaN  2015-07-23   20
3   2011-05-12 56 82320.65      John  82320.65  2011-05-12   20
4  2010-03-26 21 28737.01      Sally  28737.01  2010-03-26   20